@using Newtonsoft.Json
@using feedbacksys.Domain
@{
    ViewBag.Title = "Index";
}

<h2>Index3</h2>
     <script type="text/javascript">
         var initialWannaDoData = @(Html.Raw(JsonConvert.SerializeObject(new Image())));
             
        </script>
